In [23]:
a = int(input("Enter your name : "))
print("Hello " ,a)

Enter your name : 10
Hello  10

In [26]:
for i in range(10,16):
    print(i)

10
11
12
13
14
15

In [27]:
listt = [1,2,3]

In [28]:
len(listt)

3

In [30]:
listt[1] = 10

In [31]:
listt

[1, 10, 3]

In [32]:
listt.append(18)

In [33]:
listt

[1, 10, 3, 18]

In [34]:
listt.pop()

18

In [35]:
listt

[1, 10, 3]

In [36]:
listt.remove(10)

In [37]:
listt

[1, 3]

In [38]:
 del listt[1]

In [39]:
listt

[1]

In [40]:
a  = [1,3,'M','KKKK']

In [41]:
a.index('M')

2

In [42]:
t = (1,2,3,4,5)

In [45]:
set = {1,2,3,4,5,5}

In [47]:
set1 = {1,3,7,8}

In [48]:
set | set1

{1, 2, 3, 4, 5, 7, 8}

In [49]:
set & set1

{1, 3}

In [50]:
set ^ set1

{2, 4, 5, 7, 8}

In [51]:
set - set1

{2, 4, 5}

In [52]:
set.union(set1)

{1, 2, 3, 4, 5, 7, 8}

In [53]:
set.intersection(set1)

{1, 3}

In [54]:
d = {'Name' : ['A','B'],
    'Age' : [20,30]}

In [55]:
d

{'Name': ['A', 'B'], 'Age': [20, 30]}

In [56]:
d.keys()

dict_keys(['Name', 'Age'])

In [57]:
d.values()

dict_values([['A', 'B'], [20, 30]])

In [58]:
d.items()

dict_items([('Name', ['A', 'B']), ('Age', [20, 30])])

In [60]:
d['email'] = ['a@gmail'}

In [61]:
d

{'Name': ['A', 'B'], 'Age': [20, 30], 'email': {'a@gmail'}}

In [63]:
d.pop('email')

{'a@gmail'}

In [64]:
d

{'Name': ['A', 'B'], 'Age': [20, 30]}

In [65]:
d

{'Name': ['A', 'B'], 'Age': [20, 30]}

In [68]:
for i in d.items():
    print(i)

('Name', ['A', 'B'])
('Age', [20, 30])

In [71]:
print (5 in listt)

False

In [76]:
a = 7
b =7
if a == b :
    print(a)
elif a < b:
    print(b)
else:
    print('No')

7

In [79]:
a = 0
for i in range(5):
    a+=1

In [80]:
a

5

In [ ]:
while :
    print('H')

In [1]:
import datetime as dt

In [7]:
from datetime import date as dt

In [8]:
dt.today()

datetime.date(2020, 4, 3)

In [9]:
import time as t

In [10]:
t.ctime()

'Fri Apr  3 08:27:33 2020'

In [12]:
import random as r